#controlContainer {
	flex-direction: column;
	align-items: center;
}

#name {
	font-size: 20px;
}

#back {
	margin: 10;
}

.op {
    margin: 10;
}

#ep {
	margin: 10;
	font-size: 20px;
	padding: 0;
	text-align: center;
	width: 120px;
}

#urlPattern {
	width: 15vw;
}