<script src="/scripts/show.js"></script>
<link rel="stylesheet" href="/styles/show.css">
<div class="container" id="controlContainer">
	<div id="name">{{name}}</div>
	<div class="container">
		<a href="javascript:void()" id="sub" class="bl op">-</a>
		<input id="ep" class="bl" autocomplete="off" value="{{episode}}">
		<a href="javascript:void()" id="add" class="bl op">+</a>
	</div>
	<div>
		<textarea class="bl" rows="8" id="notes">{{notes}}</textarea>
	</div>
	<a id="back" class="bl" href="/"><</a>
</div>